{% extends 'base.html' %}

{% block title %} Registrarse {% endblock %}

{% block content%}

<div class="container">
  
  <div class="box">

    <h5>Bienvenido a la Biblioteca Nueva Era</h5>
    <h6>Complete el siguiente formulario para registrarse</h6>

    <div class="row">
      <form method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="username" name="username" type="text" class="validate" required>
            <label for="first_name">Usuario</label>
          </div>
    
    
        <div class="row">
          <div class="input-field col s6">
              <input id="password" type="password" class="validate" name="password" required>
              <label for="password">Contraseña</label>
          </div>
        </div>
    
        </div> 
        </div>
        <a class="waves-effect waves-light btn"><input type="submit" value="Register"></a>
      </form>
    </div>

  </div>
</div>
{% endblock %}