html {
    background-color: #e8f2e8;
}

#nav-bar {
    background-color: #4ade4a;
}

#title {
    color: azure;
}

.box{
    width: 100;
    height: 100;
    background-color: aliceblue;
    border: 2px solid;

    border-radius: 10px;
        margin: 80px;
        padding: 80px;
        text-align: center;
        color: #ffffff; 
}

h5, h6{
    color: #3d63ae;
}

.container{
    background-image: url(https://images.pexels.com/photos/5239564/pexels-photo-5239564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

.input-field {
    border-bottom: 1px solid #585585;
    box-shadow: 0 1px 0 0 #0d0abe
    ;
}